services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: hospital
      POSTGRES_PASSWORD: hospital
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: hospital-platform-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  patient-service:
    build: ./patient-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/patient_db
      SPRING_DATASOURCE_USERNAME: hospital
      SPRING_DATASOURCE_PASSWORD: hospital

  appointment-service:
    build: ./appointment-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appointment_db
      SPRING_DATASOURCE_USERNAME: hospital
      SPRING_DATASOURCE_PASSWORD: hospital
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_MAIN_LOG_STARTUP_INFO: "true"
      LOGGING_LEVEL_ROOT: DEBUG
      SPRING_PROFILES_ACTIVE: docker

  billing-service:
    build: ./billing-service
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/billing_db
      SPRING_DATASOURCE_USERNAME: hospital
      SPRING_DATASOURCE_PASSWORD: hospital
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_MAIN_LOG_STARTUP_INFO: "true"
      LOGGING_LEVEL_ROOT: DEBUG
      SPRING_PROFILES_ACTIVE: docker

  notification-service:
    build: ./notification-service
    ports:
      - "8084:8084"
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/notification_db
      SPRING_DATASOURCE_USERNAME: hospital
      SPRING_DATASOURCE_PASSWORD: hospital
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_MAIN_LOG_STARTUP_INFO: "true"
      LOGGING_LEVEL_ROOT: DEBUG
      SPRING_PROFILES_ACTIVE: docker
