server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/patient_db
    username: hospital
    password: hospital
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics

security:
  jwt:
    secret: hospital-secret-key-123456789
    expiration: 3600000 # 1 hour
