server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/appointment_db
    username: hospital
    password: hospital
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: kafka:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
      properties:
        spring.json.add.type.headers: false
        spring.json.trusted.packages: "*"

management:
  endpoints:
    web:
      exposure:
        include: health,metrics

logging:
  level:
    root: INFO
    com.hospital.appointment_service: DEBUG
    org.apache.kafka: DEBUG
    org.springframework.kafka: DEBUG
    org.springframework.kafka.support.serializer: TRACE
